@model SmartShop.Core.Models.UserRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserRole</h4>
    <hr />
    <fieldset disabled>
        <partial name="Form" />
    </fieldset>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
