@model SmartShop.Core.Models.User

@{
    Layout = null;
}

<div class="form-group">
    <label asp-for="AccountId" class="control-label"></label>
    <input asp-for="AccountId" class="form-control" />
    <span asp-validation-for="AccountId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ShopId" class="control-label"></label>
    @*<select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>*@
    <input asp-for="ShopId" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="UserName" class="control-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsLocked" /> @Html.DisplayNameFor(model => model.IsLocked)
    </label>
</div>
