@model SmartShop.Core.Models.ProductDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkStatus" class="control-label"></label>
                <input asp-for="NetworkStatus" class="form-control" />
                <span asp-validation-for="NetworkStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkCompany" class="control-label"></label>
                <input asp-for="NetworkCompany" class="form-control" />
                <span asp-validation-for="NetworkCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageCapacity" class="control-label"></label>
                <input asp-for="StorageCapacity" class="form-control" />
                <span asp-validation-for="StorageCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatteryLife" class="control-label"></label>
                <input asp-for="BatteryLife" class="form-control" />
                <span asp-validation-for="BatteryLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
